html,
body {
   margin: 0;
}

.Information {
   text-align: center;
   /* Prevent sidebar from showing a scrollbar on page */
   overflow: auto;
   font-family: sans-serif;
}
.Information p,
h1 {
   margin: 0;
}

.information-container {
   padding: 1rem 2rem;
}
.information-container p {
   text-align: justify;
   margin-bottom: 0.75rem;
}

.jumbotron {
   margin: 0;
}

@media only screen and (max-width: 990px) {
   .information-container {
      padding: 1rem;
   }
}

@media screen and (max-width: 40em) {
   h1 {
      /* padding-top: 1em; */
      padding: 0;
   }
}
